<div id="page_wrapper">
	<div id="profile_image">
	<%= image_tag "gaurav.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Gaurav Dhanuka.</h1>
		<p>I am a student in M.N.N.I.T, Allahabad, U.P, India. I am a 3rd year B.Tech, Computer Science and Engineering student.</p>
		<br>
		<h3>Welcome to my blog.</h3>
		<p>This is a blog I built in Rails 4. This is actually a demo application right now. Cool stuff, right!</p>
		<p>If you would like to follow along as I learn more Ruby on Rails, then you can ask me all your doubts in here.</p>

	</div>
</div>