<div id="page_wrapper">
	<div id="prifile_image">
	<%= image_tag "gaurav.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Gaurav Dhanuka</h1>
		<p>Welcome to my blog.</p>
		<p>This is a blog I built in Rails 4. This is actually a demo application right now. Cool stuff, right!</p>
		<p>If you would like to follow along as I learn more Ruby on Rails, then you can ask me all your doubts in here.</p>

	</div>
</div>